body {
  font-family: "Poppins", sans-serif;
  background-image: url(/xxx2/Background.png);
  background-position: center;
}
.slika {
  border: 2px solid black;
 height: 500px;
  background-image: url(/xxx2/hero.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
  
}
.vector{
  
 height: 50px;
 width: 50px;
 background-image: url(/xxx2/Vectormali.png);
 background-repeat: no-repeat;
 background-position: center;
 display: flex;
 }
nav {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
.raul {
  color: #002265;
  display: flex;
  align-self: center;
  font-size: 25px;
  font-weight: 500;
}

.Front_end {
  border: red solid 2px;
  font-weight: 800;
  font-size: 45px;
  padding-top: 5%;
  color: #002265;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.opis {
  color: #082032;
  font-size: 23px;
  font-size: 25px;
  border: #002265 solid 2px;
  margin-top: 5%;
}
.passions {
  text-align: center;
  font-size: 35px;
  color: #14279b;
  margin-top: 5%;
  margin-bottom: 2%;
}
.red_slika1 {
  max-width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.portfolio {
  text-align: center;
  color: #14279b;
  font-size: 35px;
  margin-top: 5%;
  margin-bottom: 2%;
}
.red_slika2 {
  margin: auto;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contactme {
  text-align: center;
  color: #14279b;
  font-size: 35px;
  margin-top: 5%;
  margin-bottom: 2%;
}
.red_slika3 {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}
.designby {
  width: fit-content;
  margin: auto;
  text-align: center;
  font-size: 35px;
  color: white;
  font-weight: 400;
  margin-top: 10%;
}
.container {
  width: fit-content;
  height: 200px;
  border: solid white 1px;
  background-image: url(/xxx2/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  background-size: contain;
}
@media only screen and (min-width: 1000px) {
  body {
    font-family: "Poppins", sans-serif;
    background-image: url(/xxx2/Background.png);
    background-position: center;
  }