body {
  font-family: "Poppins", sans-serif;
  background-image: url(/xxx2/Background.png);
  background-position: center;
}
nav {
  border: 2px solid black;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding-left: 18%;
}
ul {
  border: 2px solid red;
  list-style: none;
  display: flex;
  padding-right: 22%;
}
li {
  border: 2px solid yellow;
  padding: 40px;
  font-weight: 600;
  font-size: 25px;
  color: black;
}
.raul {
  border: 2px solid green;
  color: #002265;
  display: flex;

  align-self: center;
  font-size: 25px;
  font-weight: 500;
}
.contact_me {
  border-radius: 10px;
  color: white;
  background-color: #608af5;
  font-weight: 600;
}
.container1 {
  border: 2px solid blue;
  margin-top: 4%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Front_end {
  border: 2px solid green;
  font-weight: 800;
  font-size: 50px;
  padding-top: 5%;

  color: #002265;
}
.opis {
  color: #082032;
  font-size: 23px;
  font-size: 25px;
}
.pc {
  border: 2px solid rgb(214, 33, 154);
  width: 30%;
  background-image: url(/xxx2/hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.passions {
  text-align: center;
  font-size: 35px;
  color: #14279b;
  margin-top: 10%;
  margin-bottom: 2%;
}
.red_slika1 {
  border: 2px solid red;
  max-width: fit-content;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.portfolio {
  text-align: center;
  color: #14279b;
  font-size: 35px;
  margin-top: 10%;
  margin-bottom: 2%;
}
.red_slika2 {
  border: 2px solid blueviolet;
  margin: auto;
  max-width: fit-content;
  display: flex;
  justify-content: space-around;
}
.contactme {
  text-align: center;
  color: #14279b;
  font-size: 35px;
  margin-top: 10%;
  margin-bottom: 2%;
}
.red_slika3 {
  border: 2px solid red;
  max-width: fit-content;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.designby {
  max-width: 1300px;
  margin: auto;
  text-align: center;
  font-size: 35px;
  color: white;
  font-weight: 400;
  margin-top: 10%;
}
.container {
  max-width: 1300px;

  border: solid black 1px;
  background-image: url(/xxx2/Vector.png);
  background-repeat: no-repeat;
  background-position: bottom;
  margin: auto;
  margin-top: 5%;
  max-height: 300px;
}
@media only screen and (max-width: 1550px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  .red_slika3 {
    border: 2px solid red;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
  }
  .red_slika2 {
    border: 2px solid blueviolet;
    margin: auto;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .red_slika1 {
    border: 2px solid red;
    max-width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .container1 {
    border: 2px solid blue;
    margin-top: 4%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .Front_end {
    border: 2px solid green;
    font-weight: 800;
    font-size: 50px;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    color: #002265;
  }
  .pc {
    border: 2px solid rgb(214, 33, 154);
    width: 30%;
    background-image: url(/xxx2/hero.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
@media only screen and (max-width: 1100px) {
  nav {
    border: 2px solid black;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 18%;
  }
  ul {
    border: 2px solid red;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 22%;
  }
  li {
    border: 2px solid yellow;
    padding: 40px;
    font-weight: 600;
    font-size: 25px;
    color: black;
    display: flex;
    flex-direction: row;
  }
  .red_slika3 {
    border: 2px solid red;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
  }
  .red_slika2 {
    border: 2px solid blueviolet;
    margin: auto;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .red_slika1 {
    border: 2px solid red;
    max-width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .raul {
    border: 2px solid green;
    color: #002265;
    display: flex;
    flex-direction: row;

    align-self: center;
    font-size: 25px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 600px) {
  nav {
    border: 2px solid black;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  ul {
    border: 2px solid red;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-right: 22%;
  }
  li {
    border: 2px solid yellow;
    padding: 40px;
    font-weight: 600;
    font-size: 25px;
    color: black;
    display: flex;
    flex-direction: column;
  }
  .raul {
    border: 2px solid green;
    color: #002265;
    display: flex;
    flex-direction: column;

    align-self: center;
    font-size: 25px;
    font-weight: 500;
  }
  .container {
    max-width: 1300px;
    border: solid black 1px;
    background-image: url(/xxx2/Vector.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: auto;
    margin-top: 5%;
    max-height: 300px;
  }
}
