nav {
  width: 1360px;
  height: auto;
  margin: auto;

  display: grid;
  grid-auto-flow: column;
}
ul {
  list-style: none;
  display: flex;
}
li {
  padding: 20px;
}
.text-center {
  text-align: center;
  display: grid;
  align-items: center;
  align-content: center;
  font-size: 26px;
  color: #37447e;
  font-weight: 900;
}
.text-right {
  text-align: right;
  display: grid;
  align-items: center;
  justify-content: end;
  padding-right: 40px;
}
button {
  background-color: #111b47;
  color: white;
  height: 26px;
  width: 160px;
}
.class_1 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 15%;
  border: solid seagreen 4px;
  background-image: image("designer_1.png");
}
.class_2 {
  width: 540px;
  height: auto;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  padding-top: 5%;
}
.inline {
  width: 510px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid yellow 2px;
}
.container1 {
  width: auto;
  height: auto;
  border: solid 3px red;
  display: flex;
  flex-direction: row;
}
.column_slika {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 2px red;
  margin-left: 15%;
  padding-top: 200px;
}
.column_texta {
  color: #6f7cb2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: auto;
  height: 1500px;
  border: solid 2px purple;
  padding-left: 100px;
  padding-top: 200px;
}
.container2 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}
.container3 {
  border: solid 2px maroon;
  height: auto;
  width: 55%;
  text-align: center;
  padding-top: 20%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-top: 10%;
}
h1 {
  color: #091133;
  font-size: 50px;
}
h2 {
  color: #222f65;

  font-weight: 700;
  font-size: 36px;
}
h5 {
  color: #37447e;
}
h6 {
  color: #5d6970;
}
p {
  color: #6f7cb2;
}
