nav {
  width: 1360px;
  height: auto;
  margin: auto;

  display: grid;
  grid-auto-flow: column;
}
ul {
  list-style: none;
  display: flex;
}
li {
  padding: 20px;
}
.text-center {
  text-align: center;
  display: grid;
  align-items: center;
  align-content: center;
  font-size: 26px;
  color: #37447e;
  font-weight: 900;
}
.text-right {
  text-align: right;
  display: grid;
  align-items: center;
  justify-content: end;
  padding-right: 40px;
}
button {
  background-color: #111b47;
  color: white;
  height: 26px;
  width: 160px;
}
