body {
  font-family: "Poppins", sans-serif;
  background-image: url(/xxx2/Background.png);
  background-position: center;
}

nav {
  width: 75%;
  height: auto;
  margin: auto;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: end;
}
.raul {
  width: 10%;
  margin: auto;
  height: auto;
  color: #002265;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  padding-right: 5%;
  font-size: 25px;
  font-weight: 400;
}
ul {
  list-style: none;
  display: flex;
  margin: auto;
  justify-content: flex-start;
}
li {
  padding: 20px;
  font-weight: 400;
  font-size: 25px;
}
.contact_me {
  width: auto;
  height: auto;
  border-radius: 10px;
  color: white;
  background-color: #608af5;

  font-weight: 500;
}
.container1 {
  margin: auto;
  margin-top: 4%;
  height: auto;
  width: 70%;
  display: flex;
  justify-content: flex-start;
}
.pc {
  width: 40%;
  background-image: url(/xxx2/hero.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: left;
}
.Front_end {
  margin: auto;

  width: auto;
  font-weight: 800;
  font-size: 50px;
  padding-top: 5%;
  color: #002265;
}
.opis {
  color: #082032;
  font-size: 23px;
  font-size: 25px;
}
.passions {
  text-align: center;
  font-size: 35px;
  color: #14279b;
  margin: 5%;
}
.red_slika1 {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.portfolio {
  text-align: center;
  color: #14279b;
  font-size: 35px;
  margin-top: 10%;
}
.red_slika2 {
  width: 65%;
  margin: auto;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}
.contactme {
  text-align: center;
  color: #14279b;
  font-size: 35px;
  margin-top: 10%;
}
.red_slika3 {
  width: 65%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 2%;
}
.designby {
  width: 65%;
  height: auto;
  margin: auto;
  margin-top: 30%;
  text-align: center;
  font-size: 35px;
  color: white;
  font-weight: 400;
}
.container {
  width: 65%;
  height: 10%;
  border: solid white 1px;
  background-image: url(/xxx2/Vector.png);
  background-repeat: no-repeat;
  background-position: bottom;
  margin: auto;
  margin-top: 0;
}
@media screen and (min-width: 1260px) {
  nav {
  }
}
