body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 65%;
  height: auto;
  margin: auto;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: end;
  border: solid 2px black;
}
.raul {
  border: solid 2px yellow;
  width: 15%;
  margin: auto;
  height: auto;
  color: #002265;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}
ul {
  list-style: none;
  display: flex;
  margin: auto;
}
li {
  padding: 30px;
  font-weight: 400;
}
.contact_me {
  width: auto;
  height: auto;
  border-radius: 10px;
  color: white;
  background-color: #608af5;
  border: solid red 2px;
}
.Front_end {
  border: solid red 2px;
  margin: auto;
  width: 65%;
  font-weight: 800;
  font-size: 35px;

  color: #002265;
}
.opis {
  color: #082032;
  font-size: 23px;
  font-size: 25px;
}
