h2 { color: teal;
background-color:rgb(89, 151, 0);
text-align: center;
text-decoration:underline;
font-size: xx-large;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{background-color: slateblue;
    color :magenta}
a{background-color: mediumblue; color: red;}
p{color: rgb(231, 231, 223);
text-align: center;
font-weight: bold;}
text-decoration:underline;
body{background-color:#eaeee7;
font: message-box;
}
#Signup{background-color: chartreuse;
color: white;
}
#plp{ color: rgb(31, 0, 209);
font-family: monospace;}
.spanclass{color: firebrick;
font-size: 30px;}