body{
margin: 5px;
border: 5px solid royalblue;
}
.one{
    width: 500px;
    padding: 10px 10px 10px 10px;
    border: solid red 5px;
    margin-bottom: 50px;
}

  
.two{
    width: 200px;
    padding: 10px 10px 10px 10px;
    border: solid green 5px;
    margin: 10px;
}
img{
    
    position: relative;
    float: right;
    width: fit-content;
    height: fit-content;
}



