body {
  font-family: sans-serif;
}
h1 {
  font-size: 10 em;
  text-align: center;
}
nav {
  font-size: 2.5 em;
}
ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}
@media (max-width: 400px;) {
  h1 {
    color: red;
  }
}
